<a href="https://colab.research.google.com/github/Duckmemo/Rox-teste/blob/main/Rox_teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#INSTALAÇÃO DA BIBLIOTECA PYSPARK
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [ ]:
#INSTALAÇÃO DA BILIOTECA GOOGLE CLOUD STORAGE FILE SYSTEM
!pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gcsfs in /usr/local/lib/python3.8/dist-packages (2022.11.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.8/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.8/dist-packages (from gcsfs) (2.15.0)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.8/dist-packages (from gcsfs) (0.4.6)
Requirement already satisfied: fsspec==2022.11.0 in /usr/local/lib/python3.8/dist-packages (from gcsfs) (2022.11.0)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from gcsfs) (2.25.1)
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.8/dist-packages (from gcsfs) (2.7.0)
Requirement already satisfied: aiohttp!=4.0.0a0,!=4.0.0a1 in /usr/local/lib/python3.8/dist-packages (from gcsfs) (3.8.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (22.2.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.8.2)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (2.1.1)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (1.3.3)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.8/dist-packages (from aiohttp!=4.0.0a0,!=4.0.0a1->gcsfs) (6.0.4)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.8/dist-packages (from google-auth>=1.2->gcsfs) (5.2.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.8/dist-packages (from google-auth>=1.2->gcsfs) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.8/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.8/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.8/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5 in /usr/local/lib/python3.8/dist-packages (from google-cloud-storage->gcsfs) (2.11.0)
Requirement already satisfied: google-cloud-core<3.0dev,>=2.3.0 in /usr/local/lib/python3.8/dist-packages (from google-cloud-storage->gcsfs) (2.3.2)
Requirement already satisfied: google-resumable-media>=2.3.2 in /usr/local/lib/python3.8/dist-packages (from google-cloud-storage->gcsfs) (2.4.0)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->gcsfs) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests->gcsfs) (2022.12.7)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->gcsfs) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.56.2 in /usr/local/lib/python3.8/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (1.57.1)
Requirement already satisfied: protobuf!=3.20.0,!=3.20.1,!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.19.5 in /usr/local/lib/python3.8/dist-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->google-cloud-storage->gcsfs) (3.19.6)
Requirement already satisfied: google-crc32c<2.0dev,>=1.0 in /usr/local/lib/python3.8/dist-packages (from google-resumable-media>=2.3.2->google-cloud-storage->gcsfs) (1.5.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.8/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.8/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.2)

In [ ]:
#IMPORTAR O DRIVE
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#CHAMAR AS BIBLIOTECAS NECESSÁRIAS
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F

In [ ]:
#IMPORTAR BIBLIOTECAS DO CLOUD STORAGE
from google.cloud import storage
import os

In [ ]:
#CONFIGURAÇÂO DA CHAVE DE SEGURANÇA
serviceAccount = '/content/sanguine-frame-374602-bf725bd73637.json'
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
#CÓDIGOS DE ACESSO A BUCKET PARA CRIAR UM DATAFRAME NO PYSPARK A PARTIR DO DATASET

client = storage.Client()

#CRIAR UMA VARIÁVEL PARA RECEBER O NOME DA BUCKET

bucket = client.get_bucket('rox-bucket')

#ESCOLHER O ARQUIVO DENTRO DA BUCKET

bucket.blob('Person.Person.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO NOSSO ARQUIVO

path = 'gs://rox-bucket/Person.Person.csv'

In [ ]:
#IMPORTAR O PANDAS E CRIAR O DATAFRAME A PARTIR DO PATH
import pandas as pd

In [ ]:
#CRIANDO A VARIAVEL COM O SEPARADOR PARA QUE O PANDAS POSSA LER
df = pd.read_csv(path, sep=';', header=0)

In [ ]:
df

In [ ]:
#INSTALAR A BIBLIOTECA DE CONEXÃO DO PYTHON COM O MYSQL (conector python + mysql)
!pip install mysql-connector-python

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.8/dist-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /usr/local/lib/python3.8/dist-packages (from mysql-connector-python) (3.19.6)

In [ ]:
#IMPORTAR AS BIBLIOTECAS NECESSÁRIAS PARA FAZER A CONEXÃO
import mysql.connector
from mysql.connector import Error

In [ ]:
from IPython.lib import passwd
#CRIAR UMA FUNÇÃO PARA CONECTAR AO DATABASE - conexao_db
#nomedainstancia (host), #nomedobanco (db), #usuario(user), #senha(password)
def conexao_db(servidor, usuario, senha, banco):
  conexao = None
  try:
    conexao = mysql.connector.connect(
        host = servidor,
        user = usuario,
        passwd = senha,
        database = banco
    )
    print(f"Conexão com o banco {banco} realizada com Sucesso!")
  except mysql.connector.Error as err:
    print(f"Erro ao conectar com o banco {banco}! {err}")

  return conexao

In [ ]:
#CONECTAR AO BANCO DE DADOS
con = conexao_db('sql10.freemysqlhosting.net','sql10591418','xxtpVN9mSu','sql10591418')

Conexão com o banco sql10591418 realizada com Sucesso!

In [ ]:
#CRIAR UMA FUNÇÃO QUE PERMITE A EXECUÇÃO DE SQL
def executar_sql(conexao, sql):
  cursor = conexao.cursor()
  try:
    cursor.execute(sql)
    conexao.commit()
    print("Query foi executada com sucesso!")
  except mysql.connector.Error as err:
    print(f"Erro ao executar a Query! {err}")

In [ ]:
import pymysql

In [ ]:
pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 3.9 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://sql10591418:xxtpVN9mSu@sql10.freemysqlhosting.net:3306/sql10591418')

In [ ]:
#ESCOLHER O ARQUIVO DENTRO DA BUCKET

bucket.blob('Production.Product.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO NOSSO ARQUIVO

path2 = 'gs://rox-bucket/Production.Product.csv'

In [ ]:
df1 = pd.read_csv(path2, sep=';', header=0)

In [ ]:
df1

In [ ]:
#ESCOLHER O ARQUIVO DENTRO DA BUCKET

bucket.blob('Sales.SpecialOfferProduct.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO NOSSO ARQUIVO

path3 = 'gs://rox-bucket/Sales.SpecialOfferProduct.csv'

In [ ]:
df2 = pd.read_csv(path3, sep=';', header=0)

In [ ]:
df2

,SpecialOfferID,ProductID,rowguid,ModifiedDate
0,1,680,BB30B868-D86C-4557-8DB2-4B2D0A83A0FB,2011-04-01 00:00:00.000
1,1,706,B3C9A4B1-2AE6-4CBA-B552-1F206C9F4C1F,2011-04-01 00:00:00.000
2,1,707,27B711FE-0B77-4EA4-AD1A-7C239956BEF4,2011-04-01 00:00:00.000
3,1,708,46CBB78B-246E-4D69-9BD6-E521277C1078,2011-04-01 00:00:00.000
4,1,709,CF102AA0-055F-4D2B-8B98-04B161758EA8,2011-04-01 00:00:00.000
...,...,...,...,...
533,16,984,52DD0F65-0EA9-4848-9884-7594BA953274,2014-03-01 00:00:00.000
534,16,985,C8127A82-05C3-42FD-A5C6-215D58A236BD,2014-03-01 00:00:00.000
535,16,986,C60FB28D-2431-481C-985E-3FEA8119D705,2014-03-01 00:00:00.000
536,16,987,BEBD6F20-D6C2-4511-8C97-1F53B2099D1F,2014-03-01 00:00:00.000
537,16,988,2981C98B-A18F-4153-A6A2-EC453CB130CE,2014-03-01 00:00:00.000

In [ ]:
#ESCOLHER O ARQUIVO DENTRO DA BUCKET

bucket.blob('Sales.SalesOrderHeader.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO NOSSO ARQUIVO

path4 = 'gs://rox-bucket/Sales.SalesOrderHeader.csv'

In [ ]:
df3 = pd.read_csv(path4, sep=';', header=0)

In [ ]:
df3

In [ ]:
#ESCOLHER O ARQUIVO DENTRO DA BUCKET

bucket.blob('Sales.SalesOrderDetail.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO NOSSO ARQUIVO

path5 = 'gs://rox-bucket/Sales.SalesOrderDetail.csv'

In [ ]:
df4 = pd.read_csv(path5, sep=';', header=0)

In [ ]:
df4

In [ ]:
#ESCOLHER O ARQUIVO DENTRO DA BUCKET

bucket.blob('Sales.Customer.csv')

#CRIAR UMA VARIÁVEL QUE VAI RECEBER O CAMINHO DO NOSSO ARQUIVO

path6 = 'gs://rox-bucket/Sales.Customer.csv'

In [ ]:
df5

In [ ]:
df5 = pd.read_csv(path6, sep=';', header=0)

In [95]:
df2.to_sql('special_offer_product', engine, if_exists='replace', index=False)

In [92]:
df = df2.drop_duplicates()

In [ ]:
df.to_sql('person', engine, if_exists='append', index=False)

In [89]:
dfdropado = df2.drop_duplicates()

In [ ]:
df4.to_sql('sales_order_detail', engine, if_exists='append', index=False)

In [ ]:
df3.to_sql('sales_order_header', engine, if_exists='append', index=False)

In [ ]:
df5.to_sql('customer', engine, if_exists='append', index=False)

In [ ]:
df1.to_sql('product', engine, if_exists='append', index=False)